<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Webcam Detection</title>
  <!-- css -->
  <!-- <link rel="stylesheet" href="../static/css/indexstyles.css"> -->
  <!-- boxicons -->
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <!-- remixicon -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../static/css/uicss.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- <script src="sweetalert2.min.js"></script> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.8/sweetalert2.css">
  <script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js
"></script>
  <link href="
https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css
" rel="stylesheet">
</head>

<body>
  <video autoplay muted loop id="myVideo">
    <source src="..\static\images/new.mp4" type="video/mp4">
  </video>
  <div class="content">
    <section class="head">
      <div class="head-text cen">
        <h1 class="glow"><a class="logo-link-2" href="/profile">Guardian Vision</a></h1>
        <p>
          Test with your Webcam
        </p>
      </div>
    </section>
    <section class="webcam">
      <div class="flx">
        <div class="frst">
          <p>Enter email you want to send alert</p>
          <div class="textInputWrapper">
            <input placeholder="Email Here" type="text" class="textInput" id="empmail" onload="validate()"
              onkeypress="validate()">
          </div>

          <p>Enter Number you want to send alert</p>
          <div class="textInputWrapper">
            <input placeholder="Number Here" type="text" class="textInput" id="empmail" >
          </div>

          <button class="button dis" id="webbtn" onclick="webon()" disabled> <b>Start Webcam </b>
          </button>
          <button class="button hide" id="webbtn2" onclick="window.location.reload()"> <b>Stop Webcam</b>
          </button>

        </div>

        <div id="webarea">
          <div class="cube" id="load1">
            <div class="topD"></div>
            <div>
              <span style="--i:0"></span>
              <span style="--i:1"></span>
              <span style="--i:2"></span>
              <span style="--i:3"></span>
            </div>

            <div class="cube2">
              <div>
                <span style="--i:0"></span>
                <span style="--i:1"></span>
                <span style="--i:2"></span>
                <span style="--i:3"></span>
              </div>

              <div class="cube3">
                <div class="top3"></div>
                <div>
                  <span style="--i:0"></span>
                  <span style="--i:1"></span>
                  <span style="--i:2"></span>
                  <span style="--i:3"></span>
                </div>

              </div>

            </div>
          </div>

          <div id="alignved">
            <div class="temp hide" id="webtemp">
              Webcam Here
            </div>
          </div>

          <div class="cent">
            <div class="loading-bar hide" id="load2">
              Loading
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  let load1 = document.getElementById('load1');
  let temp = document.getElementById('webtemp');
  let load2 = document.getElementById('load2');
  let startbut = document.getElementById('webbtn');
  let stopbut = document.getElementById('webbtn2');

  let con = 0
  let ele = document.getElementById('empmail')

  // let value1 = ele.value;
  // console.log(value1)
  function webon() {
    ele.innerHTML = `<img src="{{ url_for('webapp') }}"   alt="Upload video">`
    let emailll = document.getElementById('empmail').value
    load1.classList.toggle('hide');
    load2.classList.toggle('hide');
    
    let email = document.getElementById('empmail').value;
    let url = `/webapp?email=${email}`;
    // console.log(url)
    temp.innerHTML = `<img class="imgweb" src="${url}" alt="Upload video">`;

    startbut.classList.add('hide');
    stopbut.classList.remove('hide');
    con = con+1;
    console.log(con);
    if (con > 1) {
      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'Email Required...',
      })
    }
    setTimeout(() => {
      temp.classList.toggle('hide');
      load1.classList.add('hide');
      load2.classList.add('hide');
    }, 7000);
  }


  function validate() {
    if (ele != "" || ele != null) {
      startbut.removeAttribute("disabled");
      startbut.classList.remove('dis');
    }
    else{
      sendData();
    }
  }
</script>
<script src="https://embed.elephant.ai/static/js/chatbot.js" id="1a0269ea-7330-4901-8eb4-e3c28b99e877"></script>
</html>